/*body{background: #fff000;}*/
*{margin: 0px; padding: 0px;}
ul,li{list-style: none;}
body{background: #F1F1F1;}
.w1000{
	width: 1000px;
	margin: 0px auto;
}
.bgcolor{background: #fff;}
header{
	width: 100%;
	background: #339999;
}

.topbar_cont{
	color: #fff;
}
/*条件样式*/
.conditions{
	margin-bottom: 10px;
	/*height: 100px;*/
}
.cont_table{
	margin-top: 10px;
}

/*下拉列表样式*/
.dropmenu{
	width: 100px;
	/*background: #fff111;*/
	position: relative;
	z-index: 10;
	float:left;
}

.dropmenu dt{
	cursor: pointer;
	z-index: 10;
	height: 36px;
	line-height: 36px;
	padding: 0px 20px 0px 10px;
	border: 1px solid #dcdcdc;
	background: #fff;
}
.dropmenu dt .caret{
	position: absolute;
	top:18px;
	right: 10px;
}
.dropmenu ul{
	display: none;
	position: absolute;
	/*background: #ff0000;*/
	z-index: 100;
	width: 100px;
	border: 1px solid #dcdcdc;
	border-top: 0;
}
.dropmenu ul li{
	background: #fff;
	padding: 5px 20px 5px 10px;
	cursor: pointer;
	z-index: 100;
}
.dropmenu ul li:hover{
	background: #f1f1f1;
}